@{
    ViewData["Title"] = "Home Page";
}

<meta name="viewport"content="width=device-width,initial-scale=1">
<head>
<style>
    body{
        font-family: 'Times New Roman', Times, serif;
    }
    .sidenav {
        height: 100%;
        width: 225px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #5b4699;
        overflow-x: hidden;
        padding-top: 20px;
    }
    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }
    .sidenav a:hover{
        color: #f1f1f1;
    }
    .main {
        margin-left: 160px;
        padding: 0px 10px;
    }

</style>
</head>

<body>
<div class="sidenav">
    <a href="#">Profile</a>
    <a href="#">Settings</a>
</div>

<div class="main">
    ...
</div>
</body>