@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html>
<head>
    <script src = "https://kit.fontawesome.com/c677c9e18f.js" crossorigin = "anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/dash.css">
</head>


<body>
    <div id="sidebarOut" class="sidebar">
        <div id="dateIcon" class="dateIcon">
            <h2><i class="fas fa-calendar-alt"></i></h2>
        </div>
        <div id="date" class="currentDate">
            <h2>May 21</h2>
        </div>
        <div id="home" class="homeButton">
            <a href="#home" class="hvr-grow"><i class="fas fa-home"></i> Home</a>
        </div>
        <div id="profile" class="profileButton">
            <a href="#profile" class="hvr-grow"><i class="fas fa-user"></i> Profile</a>
        </div>
        <div id="settings" class="settingsButton">
            <a href="#settings" class="hvr-grow"><i class="fas fa-cogs"></i> Settings</a>
        </div>
        <div id="sidebarHeader" class="sideHeader">
            <h2>TickerAI</h2>
        </div>
    </div>
</body>
</html>