@{
    ViewData["Title"] = "Home Page";
}

<head>
<style>
    table {
        font-family: 'Times New Roman', Times, serif;
        border-collapse: collapse;
        width: 100%;
        border-spacing: 10px;

    }

    td, th {
        border: 0px;
        text-align: center;
        padding: 7px;
    }
    tr:nth-child(odd) {
        background-color: #8e949e
    }
</style>
</head>
    <table>
        <tr>
            <td>
                DJI
            </td>
            <td>
                +
            </td>
            <td>
                $23,456
            </td>
            <td>
                (graph)
            </td>
        </tr>
        <tr>
            <td>
                SRNE
            </td>
            <td>
                -
            </td>
            <td>
                $3.14
            </td>
            <td>
                (graph)
            </td>
        </tr>
        <tr>
            <td>
                AAPL
            </td>
            <td>
                -
            </td>
            <td>
                $315.11
            </td>
            <td>
                (graph)
            </td>
        </tr>
        <tr>
            <td>
                DIS
            </td>
            <td>
                +
            </td>
            <td>
                $116.62
            </td>
            <td>
                (graph)
            </td>
        </tr>
        <tr>
            <td>
                ~
            </td>
            <td>
                ~
            </td>
            <td>
                ~
            </td>
            <td>
                ~
            </td>
        </tr>
    </table>

