@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html>
<head>
    <script src = "https://kit.fontawesome.com/c677c9e18f.js" crossorigin = "anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/dashboard.css">
</head>

<!-- Creates the sidebar container -->
<body>
    <!-- Add things to sidebar in here -->
    <div id="mySidebar" class="sidebar">
         <div id="sideElements">
             <div id="dates">
                <center><a id="calendar"><i class="fas fa-calendar-alt"></i></a></center>
                <center><a id="date">May</a></center>
                <center><a id="dateNumber">22</a></center>
             </div>
            <center><a href="#home" class="hvr-grow" id="homeIcon"><i class="fas fa-home"></i></a></center>
            <center><a href="#profile" class="hvr-grow" id="profileIcon"><i class="fas fa-user"></i></a></center>
            <center><a href="#settings" class="hvr-grow" id="settingsIcon"><i class="fas fa-cogs"></i></a></center>
            <center><a id="logo"><i class="fas fa-eye"></i></a></center>
         </div>
    </div>
    <!-- News Container -->
    <div id="news" class="NewsBox">
        <a id="newsText">News</a>
    </div>
    <!-- Graphs Container -->
    <div id="graphContainer" class="graphs">
        <center><a id="placeholderGraph">Graphs</a></center>
    </div>
    <!-- Where stock info and watches will be -->
    <div id="symbolInfo" class="symbols">
        <center><a id="placeholderSymbols">Symbols</a></center>
    </div>
    <!-- Search Bar container -->
    <div id="searchbar" class="search">
        <input type="text" placeholder="Search..." />
    </div>
    <!-- Time Container -->
    <div id="time" class="timeBar">
        <center><a id="placeholderTime">11:04</a></center>
    </div>
    <div id="appname">
        <a id="name">tickerAI</a>
    </div>
</body>


</html>