@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html>
<head>
    <script src = "https://kit.fontawesome.com/c677c9e18f.js" crossorigin = "anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/dashboard.css">
    <script>
        function maximizeSidebar() {
            document.getElementById("mySidebar").style.cssText = 'width: 200px; transition: 0.7s;'
        }
    </script>
</head>

<!-- Creates the sidebar container -->
<body>
    <!-- Add things to sidebar in here -->
    <div id="mySidebar" class="sidebar">
         <a id="calendar"><i class="fas fa-calendar-alt"></i></a>
         <a id="date">May 22</a>
         <center><a href="#home" class="hvr-grow" id="homeIcon"><i class="fas fa-home"></i></a></center>
         <center><a href="#profile" class="hvr-grow" id="profileIcon"><i class="fas fa-user"></i></a></center>
         <center><a href="#profile" class="hvr-grow" id="settingsIcon"><i class="fas fa-cogs"></i></a></center>
         <center><a href="#sidebarMax" class="hvr-grow" id="maximizeArrow" onclick="maximizeSidebar()"><i class="fas fa-arrow-right"></i></a></center>
         <center><a id="logo"><i class="fas fa-eye"></i></a></center>
    </div>
</body>
</html>