/* Sets the starting point of all objects*/
* {
    margin: 0px;
    padding: 0px;
}

/* Sets the font of the body element */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f5;
}

.sidebar {
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2a2b33;
    overflow: auto;
    text-align: center;
}

.sidebar #calendar {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    padding-top: 15px;
    -webkit-font-smoothing: antialiased;
}

.sidebar #date {
    display: inline-block;
    font-size: 20px;
    padding-top: 7px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

.sidebar #dateNumber {
    display: inline-block;
    font-size: 20px;
    padding-top: 3px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

.sidebar #homeIcon {
    display: inline-block;
    font-size: 30px;
    color: #fff;
    margin-top: 120px;
    opacity: 0.5
}


.sidebar .hvr-grow {
        display: inline-block;
        vertical-align: middle;
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        transition-duration: 0.3s;
        transition-property: transform;
        font-size: 30px;
        color: #fff;
        margin-top: 50px;
        opacity: 0.5;
}

.sidebar .hvr-grow:hover  {
    transform: scale(1.2);
    opacity: 1;
}


.sidebar #homeIcon:hover {
    opacity: 1;
}

.sidebar #logo {
    display: inline-block;
    font-size: 30px;
    color: #fff;
    margin-top: 170px;
}

.NewsBox {
    position: fixed;
    height: 80%;
    width: 400px;
    top: 73.5px;
    left: 120px;
    z-index: 1;
    background-color: #2a2b33;
    border-radius: 10px;
    overflow-y: auto;
}

.NewsBox #newsText {
    display: inline-block;
    font-size: 30px;
    color: #fff;
    padding: 5px;
    border-bottom: 2px solid #3b3d47;
    -webkit-font-smoothing: antialiased;
}

.graphs {
    position: fixed;
    height: 50%;
    width: 800px;
    background-color: #2a2b33;
    left: 590px;
    top: 73.5px;
    border-radius: 10px;
}

.graphs #placeholderGraph {
  color: #fff;
  font-size: 30px;
  -webkit-font-smoothing: antialiased;
}

.symbols {
    position: fixed;
    background-color: #2a2b33;
    border-radius: 10px;
    height: 40%;
    width: 820px;
    left: 581px;
    top: 480px;

}

.symbols #placeholderSymbols {
    font-size: 30px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

input[type=text]{
    position: fixed;
    height: 35px;
    width: 400px;
    left: 789px;
    top: 20px;
    border-radius: 10px;
}

.timeBar {
    position: fixed;
    width: 200px;
    height: 45px;
    background-color:#2a2b33;
    border-radius: 100px;
    top: 20px;
    left: 220px;
}

.timeBar a{
    font-size: 30px;
    color: #fff;
    display: inline-block;
    padding: 5px;
}